.navbar {
  float:right;
  padding-right: 30px;
  padding-top: 25px;
}

ul.nav {
  display: block;
  float:right;
  /*width:600px;
  height:60px;*/
  list-style:none!important;
 }

ul.nav li{
  display:inline;
  color:red;
}

