.wrap {
  float:right;
}

ul.nav {
  display: inline-block;
  vertical-align: middle;
  float:right;
  /*width:600px;
  height:60px;*/
  padding-right: 50px;
  padding-top: 50px;
  /*list-style:none!important;*/
 }

ul.nav li{
  display:inline;
  color:red;
}

