.box{ 
  float:left;
  height: 200px;
  width: 675px;
  background-color: rgb(255,0,0);opacity:0.0;
}


.navbar {
    float:left;
    background-color: #000000; opacity:0.9;
    overflow: hidden;
    width: 675px;
    margin-bottom: 50px;
}

.navbar a {
/* Right-aligned section inside the top navigation */
  float: left;
  color: #FFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Courier New", courier, monospace;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}



