<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<!--link rel="stylesheet" type="text/css" href="/css/main.css"-->
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/introR">Intro to R</a></li>
	        		<li><a href="/ggplot">GGplotting</a></li>
	        		<li><a href="/links">Links</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:r.a.bevans@gmail.com">email</a></li>
	        		<li><a href="https://github.com/margham">github.com/margham</a></li>
				</ul>
			</footer>
		</body>
	</html>
